scikit-learn==1.8.0
pillow==12.1.1
fastapi==0.136.1
uvicorn==0.47.0
python-multipart==0.0.28
PyYAML==6.0.3
--extra-index-url https://download.pytorch.org/whl/cu130
torch==2.11.0+cu130
torchvision==0.26.0+cu130
kagglehub==1.0.1